// Senior Health Variables, only for seniors

// Colors
$calm: #50D4B5 !default;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
$font-family-sans-serif: 'Varela Round', sans-serif;
$font-size-base: 16px;

// Base
$base-background-color: #F0F0F0 !default;
$base-color: #373F47;

// Buttons
$button-border-radius: 20px;
$button-font-size: 18px;

// Cards
$card-border-radius:  8px !default;
