html {
  background-color: $base-background-color;
}

// Typography
h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

// Links
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

// Icons
.item-icon-left i.icon {
  left: 16px;
}

.item {
  padding: 18px 18px 18px 65px;
}

// Buttons
button {
  font-weight: bold;
}

// Login
.login-screen {
  text-align: center;
  background-color: $base-background-color;
}

.app-logo {
  width:220px;
}

.strapline {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}

.device-provider {
  text-align: center;
  p {
    margin-top: 50px;
    font-size: 14px;
    color: $base-color-lighter;
  }
  img {
    width:65px;
  }
}

// Navigation
.tab-item {
  font-size: 16px;
  text-transform: uppercase;
}

.tab-item-active {
  font-weight: bold;
}

// Header
.bar .title {
  font-size: 22px;
}

// Content
.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.item {
  color: $base-color;
}

.item-note {
  color: $base-color-lighter;
}

.smiley-icon {
  text-align: center;
  font-size: 130px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.summary-block {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
  color: $base-color-lighter;
}

//Setting

.item a {
  color: $calm;
}
