<ion-view view-title="Last 7 days">
  <ion-content class="padding" ng-controller="ApiController as ApiCtrl" ng-init="ApiCtrl.callApi('7d')">
    <div class="list card">
      <div class="item item-icon-left item-text-wrap" id="heart-rate-week">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-heart"></i>
          </div>
          <div class="col col-95">
            <h2>Heart Rate</h2>
            <p>Jeff's heart rate was <strong>normal</strong>.</p>
          </div>
        </div>
      </div>
      <div class="item item-icon-left item-text-wrap" id="step-count-week">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-android-walk"></i>
          </div>
          <div class="col col-95">
            <h2>Heart Rate</h2>
            <p>Jeff's physical activity has been <strong>above average</strong>.</p>
          </div>
        </div>
      </div>
      <div class="item item-icon-left item-text-wrap" id="sleep-week">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-ios-moon"></i>
          </div>
          <div class="col col-95">
            <h2>Sleep</h2>
            <p>Jeff's sleep has been <strong>below average</strong></p>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="list">
      <div class="item item-icon-left" id="heart-rate-week">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-heart"></i>
          </div>
          <div class="col col-75">
            Heart Rate
          </div>
          <div class="col col-20" style="text-align:right">
            70 bpm
            {{ApiCtrl.result.data}}
          </div>
        </div>
      </div>
      <div class="item item-icon-left" id="step-count-week">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-android-walk"></i>
          </div>
          <div class="col col-75">
            Step Count
          </div>
          <div class="col col-20" style="text-align:right">
            1000
            {{ApiCtrl.result.data}}
          </div>
        </div>
      </div>
      <div class="item item-icon-left" id="sleep-week">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-ios-moon"></i>
          </div>
          <div class="col col-95">
            Sleep
          </div>
          <div class="col col-20" style="text-align:right">
            7 hours
            {{ApiCtrl.result.data}}
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="summary-block">
      <p>This is a summary of Jeff's past week. If you find that some values are out of normal, please remember to check with your doctor</p>
    </div>

  </ion-content>
</ion-view>
