<ion-view view-title="Settings">
  <ion-content class="padding" ng-controller="ApiController as ApiCtrl" ng-init="ApiCtrl.callApi('settings')">
    <div class="list card">
      <div class="item item-avatar">
        <img src="./img/old_man.jpg">
        Caring for:<br>
        <strong>Alan</strong>
      </div>
    </div>
    <div class="list card settings" >
      <div class="item item-divider">
        Notifications
      </div>
      <li class="item item-toggle">
        Heart rate alert
        <label class="toggle toggle-calm">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Weekly summary
        <label class="toggle toggle-calm">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <div ng-controller="AlarmController as alarmCtrl" ng-init="alarmCtrl.getAlarms()" class="settings">
        <div class="item item-divider" >
          Alarms
        </div>
        <li class="item">
          17:45
        </li>
        <li class="item">
          <a ng-click="showPopup()">+ Add alarm</a>
        </li>
    </div>
  </div>
  <div class="padding">
    <button class="button button-block button-calm">
      <a ng-click="logout()">Log out</a>
    </button>
  </div>
</ion-content>
</ion-view>
