<ion-view view-title="Today">
  <ion-content class="padding" ng-controller="ApiController as ApiCtrl" ng-init="ApiCtrl.callApi()">
    <!-- <button type="button" name="button" ng-click="ApiCtrl.callApi()">TRY</button> -->
    <div class="smiley-icon"><i class="icon ion-happy-outline"></i></div>
    <h3>Jeff is doing ok today.</h3>
    <div class="list">
        <div class="item item-icon-left">
          <div class="row">
            <div class="col col-5">
              <i class="icon ion-heart"></i>
            </div>
            <div class="col col-75">
              Heart Rate
            </div>
            <div class="col col-20" style="text-align:right">
              70 bpm
              {{ApiCtrl.result.data}}
            </div>
          </div>
        </div>
      <div class="item item-icon-left">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-android-walk"></i>
          </div>
          <div class="col col-75">
            Step Count
          </div>
          <div class="col col-20" style="text-align:right">
            1000
            {{ApiCtrl.result.data}}
          </div>
        </div>
      </div>
      <div class="item item-icon-left">
        <div class="row">
          <div class="col col-5">
            <i class="icon ion-ios-moon"></i>
          </div>
          <div class="col col-75">
            Sleep
          </div>
          <div class="col col-20" style="text-align:right">
            7 hours
            {{ApiCtrl.result.data}}
          </div>
        </div>
      </div>
    </div>
    <div class="summary-block">
      Device last synced: 13:20<br>
      Battery level: High
    </div>
  </ion-content>
</ion-view>
