<ion-view view-title="Today" >
  <ion-content class="padding" ng-controller="ApiController as ApiCtrl" ng-init="ApiCtrl.callApi('today')">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh('today')">
    </ion-refresher>
    <!-- <button type="button" name="button" ng-click="ApiCtrl.callApi()">TRY</button> -->

    <div class="smiley-icon">
      <i class="icon ion-sad-outline"></i>
    </div>
    <h4>Alan</br> is not doing great</h4>
    <div class="list card">
      <div class="item item-icon-left heart-rate">
        <i class="icon ion-heart"></i>
        Heart Rate
        <span class="item-note">
          110 bpm
        </span>
      </div>
      <div class="item item-icon-left" id="step-count">
        <i class="icon ion-android-walk"></i>
        Physical activity
        <span class="item-note">
          1589 steps
        </span>
      </div>
      <div class="item item-icon-left" id="sleep">
        <i class="icon ion-ios-moon"></i>
        Sleep last night
        <span class="item-note">
          4h, 40m
        </span>
      </div>
    </div>
    <div class="summary-block">
      last synced: Feb 19, 17:30 | battery level: High
    </div>
  </ion-content>
</ion-view>
